html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: silver;
}

#root {
  width: 100%;
  height: calc(100vh - 4px);
}

.container {
  display: grid;
  height: calc(100% - 20px);
  grid-template-areas: "sidebar gallery";
  grid-template-columns: 120px 1fr;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
  min-height: 0;
  background-color: silver;
}

.container div.sidebar {
  grid-area: sidebar;
}

.container div.gallery {
  grid-area: gallery;
}


main {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: silver;
  padding: 2px;

  box-shadow:
    inset -1px -1px #0a0a0a,
    inset 1px 1px #ffffff,
    inset -2px -2px #808080,
    inset 2px 2px #dfdfdf;
}


* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.app-bar {
  margin-right: 1px;
}

.app-bar>div:nth-child(1) {
  flex-grow: 999;
}

.app-bar>div:nth-child(2) {
  flex-grow: 1;
}

.save-button {
  margin-top: 8px;
  float: right;
}