html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100vw;
  height: 100vh;
}

.container {
  display: grid;
  height: 100%;
  grid-template-areas: "sidebar gallery";
  grid-template-columns: 120px 1fr;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
  min-height: 0;
  background-color: #008282;

}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #e6e6e6;
  background-color: #3a3a3b;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396bd862;
}
button:active {
  border-color: #3876fc;
}

input,
button {
  outline: none;
}



*/