.window {
    width: 99%;
    height: fit-content;
}
.window-body {
    min-height: 50px;
    max-height: 80vh;
    overflow: auto;
}
h4 {
    width: 100%;
}
.gallery-month {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
    margin-right: 12px
}
.gallery-item {
    padding: 8px;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-item img {
  margin: 0 auto;
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
}