
.sidebar {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

button {
    border-radius: 0;
}
button.year {
    width: 115px;
}

.load-archive-btn {
    border-radius: 25px;
    width: 175px;
}